streamlit
pandas
numpy
scikit-learn
tensorflow==2.15.0
langchain==0.1.16
langchain-core
langchain-community
langchain-chroma
langchain-text-splitters
chromadb
pypdf
pysqlite3-binary
sentence-transformers
tf-keras
huggingface_hub
